/* App Page*/ 
.app-container{
  display:flex;
  justify-content: center;
 
}
/* Nav */
.navContainer{
  display: flex;
  justify-content: center;
  background-color: #c2ddff7d;
}
.pfp{
  max-height: 25vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* landing page */

.landingContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap:10%;
}
.links-flex{
  display:flex;
  flex-direction: row;
}
.landing-images{
  border-radius: 30px;
  margin-left:auto;
  margin-right: auto;
  max-height: 50%;
  max-width: 80%;
 
}
.landing-images:hover{
  box-shadow: 0 0 10px 0 #487cff inset, 0 0 20px 2px #ffffff;
  border: 3px solid #71b1ff;
  transform: scale(1);
}

/* About me */
.aboutMeContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 80vw; */
  padding-top: 2%;
  gap: 8px;
  max-height: fit-content;
}
.header, .header2, .header3-myStyle, .skills-title {
font-size:26px;
font-weight: 550;
text-align: start;
margin-left: auto;
margin-right: auto;
border: solid rgba(159, 159, 159, 0.693) 1px;
border-radius: 5px;
background-color: #ffffff;
}
.aboutMe-column1{
  min-width:30%;
  max-width: 50%;
  gap:5px;
  background-color: #ddebfc7d;
  border-radius: 5px;
  border: 1px solid rgba(159, 159, 159, 0.693);
  max-height: fit-content;
  padding-bottom: 20px;
}
.boxingPic{
  max-width:80%;
}

.aboutMe-column2{
min-width: 40%;
max-width: 40%;
background-color: #ddebfc7d;
border-radius: 5px;
border: 1px solid rgba(159, 159, 159, 0.693);
height: fit-content;
padding:2%

}
.boxingImage-div{
  margin-left:05%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.aboutMe-ol-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  min-width: 20%;
  max-width: 90%;
  margin-left: 2%;
}

.skills-button{
  background-color: #adcffa7d;
  border-radius: 5px;
  border: solid rgb(78, 178, 255) 1px;
  min-width: 20%;
  width:20%;
  height:80px;
  font-size: 120%;
  text-align: center;
}

.description-paragraph{
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align:start;
  font-weight: 500;
}
.dropdown-image{
  max-width:30px
}

/* Projects*/
.projects-container{
  display:flex; 
  /* flex-direction: row; */
  justify-content:space-between
}
.projects-leftColumn, .projects-middleColumn, .projects-rightColumn{
  max-width: 100vw;
}

/* Resume */
.resume-container{
  background-color: rgba(241, 241, 241, 0.389);
}
.resume-image{
  height:100%
}